name: tests

on:
  pull_request:
    branches:
        - dev
        - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: cd ticketing/auth && npm install && npm run test:ci
